
.Juego{
position: absolute;
width: 449px;
height: 79px;
left: 38%;
top: 65%;
background: #71CF25;
border-radius: 29px;
}

/* @Username */
.username{
position: absolute;
width: 380px;
height: 50px;
left: 45%;
top: 25%;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: #000000;
}


/* Puntaje Final:7 */
.puntajefinal{
position: absolute;
width: 565px;
height: 236px;
left: 36%;
top: 45%;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 103px;
text-align: center;
color: #000000;
}

.volverajugar{
color: #ffffff;
text-align: center;
font-size: 22px;
font-weight: 400;
font-family: sans-serif;
position: absolute;
left: 33%;
top: 30%;
width: 150px;
height: 60px;
}

body {
background-image: url(Fondoindex.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}